  @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit&display=swap');



 :root{
    /* item-adjustment */
    --vw: 300px;
    --vh: 400px;
    --cir-h: 100px;
    --cir-w: 110px;
    

/* ## font properties */
--font-family1: 'Hanken Grotesk', sans-serif;
--font-family2: 'Outfit', sans-serif;

--mobile: 375px;
--desktop: 1440px;

/* ## Colors */

/* -- Primary */
--Light-red:  hsl(0, 100%, 67%);
--Orangey-yellow: hsl(39, 100%, 56%);
--Green-teal: hsl(166, 100%, 37%);
--Cobalt-blue: hsl(234, 85%, 45%);

/* -- Gradients */
--Light-slate-blue: hsl(252, 100%, 67%);
--Light-royal-blue:hsl(241, 81%, 54%);

--Violet-blue: rgb(90, 49, 203);
--Violet-circle: rgb(77, 36, 191);
--Persian-blue: hsla(241, 72%, 46%, 0);


/* ### Neutral */
--White: hsl(0, 0%, 100%);
--Paleblue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);

/* ### spacing- properties */
--inner-inner-padding: 18px;
--inner-padding: 10px;
}

*{
margin: 0;
padding: 0;
}

 body{
    background-color: var(--White);
    
 }

 .container{
    text-align: center;        
    /* height: 40vh;
    width: 30vw; */
 }

 .result-componenet {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);        
    padding: 10px;       
    background-color: var(--Paleblue);        
    
 }

 .contents {    
    display: flex;    
    background-color: var(--White);     
    border-radius: 15px;
    
 }
 
.result{                  
    padding: var(--inner-padding);
    height: var(--vh);
    width: var(--vw);
    border-radius: 15px;
    background-color: var(--Violet-blue);
    font-family: var(--font-family1);
}






.result-content{            
    padding: var(--inner-inner-padding);    
    display: flex;    
    flex-direction: column;    
}

.yourResult{    
    font-size: 13px;        
    color: var(--Light-lavender);
    padding-bottom: 30px; 
}

p{
    color: var(--Light-lavender);
}

.circle{    
    color: var(--Light-lavender);
    margin: 0% auto;
    background-color: var(--Violet-circle);
    border-radius: 50%;        
    padding: 15px;
    height: var(--cir-h);
    width: var(--cir-w);
    display: flex;
    flex-direction: column;    
}



#maingrade{
    font-size: 60px;
    color: var(--White);
    font-weight: 700;
}


.compliment{        
    color: var(--White);
    padding-top: 30px;    
}

.score-comparison {
    font-size: 18px;
}

h2{
    font-size: 1.7rem;
    padding-bottom: 10px;
    font-weight: 500;
}

.summary {
    
    padding: var(--inner-padding);        
    height: var(--vh);
    width: var(--vw);
    border-radius: 15px;
    background-color: var(--White);
}

.summary-content{    
    
    padding: var(--inner-inner-padding);

    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* width: 259px; */
}

.summary_head{
    
    display: flex;
    justify-content: flex-start;    
}

.summary_style{
    font-size: 24px; 
    font-weight: 700;
    color: var(--Dark-gray-blue);
    font-family: var(--font-family2);   
 } 

.summary-items-gridBox{    
    
    margin-top: 35px; 

    display: grid;        
    grid-template-columns: 259px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;

}

.summary_items {
    /* border: 0.2px solid; */
    height: 35px;
    border-radius: 5px;         
    padding: 0 10px;
    display: flex;
    justify-content: space-between;    
    
    
    align-items: center;
    padding-top: 2px;    
    font-family: var(--font-family2);
    font-weight: 700;
}

.reaction {
    color: var(--Light-red);
    
}
.memory {
    color: var(--Orangey-yellow);
}
.verbal {
    color: var(--Green-teal);
}
.visual {
    color: var(--Cobalt-blue);
}

.lavender{
    color: hsl(240, 16%, 65%);
}

.item1 {
    background-color: hsla(0, 62%, 69%, 0.513);
}
.item2 {
    background-color: hsl(40, 84%, 83%, 0.6);
}
.item3 {
    background-color: hsla(106, 84%, 83%, 0.6);
}
.item4 {
    background-color: hsla(240, 84%, 83%, 0.658);
}


button{
    color: var(--Paleblue);
    margin-top: 21px;
    width: 259px;
    height: 50px;    
    font-family: var(--font-family2);
    font-size: 18px;
    background-color: var(--Dark-gray-blue);
    border-radius: 50px;
}

button:hover{
    background-color: var(--Violet-blue);
}

/* Position the SVGs behind the text */
.svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Prevent the SVGs from blocking mouse interactions */
  }
  
  .svg-reaction {
    z-index: -1;
    color: var(--Light-red);
  }
  
  .svg-memory {
    z-index: -1;
    color: var(--Orangey-yellow);
  }
  
  .svg-verbal {
    z-index: -1;
    color: var(--Green-teal);
  }
  
  .svg-visual {
    z-index: -1;
    color: var(--Cobalt-blue);
  }
  

.attribution{
    margin-top: 30px;
    font-family: var(--font-family1);    
}
@media (max-width: 1440px) {
    body{
       margin: 10px;
    }
    .container{
        margin: 0 auto;
     }
}

 @media (max-width: 510px){
    
    .contents{
        display: flex;
        flex-wrap: wrap; 
    }
    .result-content{
        width: fit-content;
    }
    .result{
        /* height: 420; */
        width: 500px;                
        border-radius: 40px;
    }
    .summary{
        margin: 0 auto;
    }
} 

